@media all and (min-width : 1500px){
    #footer{
        margin: 0 50px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}

@media all and (max-width : 1300px){
    .H_container{
        grid-template-columns: repeat(auto-fill, 45%);
    }
    .afficher_plus{
        margin-top: 5%;
    }
    .hebergements{
        padding-bottom: 40px;
    }
    .fa-chart-line{
        padding-left: 15px;
    }
    .cards, .cards_populaires{
        height: 180px;
    }
    .cards_populaires>div:nth-child(1) {
        width: 45%;
    }
}

@media all and (max-width : 1130px){
    .H_container{
        grid-template-columns: repeat(auto-fill, 30%);
    }
    .cards{
        height: 200px;
    }
    #hebergements{
        flex-direction: column-reverse;
    }
    #hebergements>div:nth-child(1){
        margin-right: 0;
        margin-top: 60px;
    }
    #hebergements>div:nth-child(2){
        margin-left: 0;
    }

    .populaires .H_container{
        display: flex;
        flex-wrap: wrap;
    } 
    .populaires .cards{
        width: 40%;
        height: 170px;
        margin: 20px;
    }

    .activites>a{
        margin: auto;
    }
}

@media all and (max-width : 1090px){
    .search_filters>button{
        margin-bottom: 15px;
    }
    .search_filters>button:nth-child(5){
        margin-left: 69px;
    }
    .search_input {
        margin: 20px 0;
    }
}

@media all and (max-width : 980px){
    #main{
        margin: auto;
    }
    #recherche{
        margin-bottom: 20px;
    }
    .search_info p{
        margin-top: 15px;
    }

    #hebergements>div:nth-child(1){
        background-color: white;
    }
    #hebergements >div:nth-child(1), #activites {
        margin-top: 0px;
    }

    .populaires{
        border-radius: 0;
    } 
    .populaires h4{
        margin-top: 10px;
    }

    .activites, #recherche{
        margin: 40px;
    }
    #activites h2, .activites{
        margin-bottom: 0;
    }
    #activites h2{
        padding-left: 40px;
    }
}
 
@media all and (max-width : 860px){
    #nav a::before, #header p::before {
        transition: transform 50ms;
    }
    #nav a:active::before, #header p:active::before{ 
        transform: scaleX(1); 
    }
    .H_container{
        grid-template-columns: repeat(auto-fill, 45%);
    }
    .populaires .cards>div:nth-child(1) {
        width: 40%;
    }
    .populaires .cards{
        width: 100%;
    }
    .activites{
        height: 850px;
    } 
    .activites>a{
        width: 45%;
        height: 240px;
        margin: auto;
    }

    .activites img{
        height: 240px;
    }
    
    footer#footer{
        padding-bottom: 20px;
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width : 775px){
    .search_filters > button:nth-child(4) {
        margin-left: 69px;
    }
    .search_filters > button:nth-child(5) {
        margin-left: 15px;
    }
}

@media all and (max-width : 660px){
    .H_container{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .cards, .activites>a{
        width: 100%;
    }
  
    #activites{
        margin-bottom: 0;
    }
    .activites{
        height: auto;
    } 
    .activites>a{
        margin: auto;
        margin-bottom: 30px;
    }

    #footer>div{
        width: auto;
        margin-left: 35px;
    }
}

@media all and (max-width : 640px){
    #logo {
        margin: 25px 0 0 30px;
    }
    #header{
        flex-wrap: wrap;
    }
    #header, #header li, #header p, #recherche{
        height: auto;
    }

    #nav_log p{
        position: absolute;
        top: 0;
        right: 13px;
    }
    #nav>ul{
        width: 100vw;
        margin-top: 30px;
    }
    #nav>ul>li{
        margin: 0;
    }
    #nav a::before {
        display: none;
    }

    #nav > ul > li:nth-child(1),
    #nav > ul > li:nth-child(2) {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 3px solid #f2f2f2;
        padding-left: 10px;
        transition: all 0.7s;
    }
    #nav>ul>li:active:nth-child(1),
    #nav>ul>li:active:nth-child(2),
    #nav>ul>li:hover:nth-child(1),
    #nav>ul>li:hover:nth-child(2){
        border-bottom: 3px solid #0065FC;
    }
    
    .search_filters > button:nth-child(5) {
        margin-left: 69px;
    }

    .populaires .cards{
        height: 200px;
        margin-bottom: 15px;
    }
    .activites>a{
        margin-bottom: 30px;
    }
}

@media all and (max-width : 550px){
    #recherche{
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 15px;
   }

    .search_info p{
        display: flex;
        align-items: center;
    }
    .search_input button{
        width: 0;
    }
    #text_research{
        display: none;
    }

    .search_input input{
        border-right: none;
    }
    .search_input i.loupe{
        display: inline-block;
        background-color: #0065FC;
        padding: 16px;
        border-radius: 13px;
        position: relative;
        left: -15px;
    }
    .search_filters button{
        font-size: 1em;
        padding-right: 20px;
        margin-right: 10px;
    }

    .H_container{
        gap: 20px;
    }
    .hebergements{
        padding: 20px;
    }
    .cards{
        height: 200px;
    }
    .populaires .cards{
        height: 145px;
        margin: 0;
        margin-bottom: 15px;
    }
    .populaires h2{
        position: relative;
    }
    .fa-chart-line {
        position: absolute;
        right: 10px;   
    }

    #activites h2 {
        padding-left: 17px;
        margin-top: 30px;
        margin-bottom: 17px;
    }  
    .activites{
        margin: 20px;
    }
    .activites > a{
        height: 190px;
        margin-bottom: 20px;
    }

    .activites img{
        height: 190px;
    }
}

@media all and (max-width : 475px){
    #filtres{
        display: inline-block;
        margin-right: 200px;
        margin-bottom: 20px;
    }
    .search_filters > button:nth-child(n){
        margin-left: 0;
        margin-right: 0;
    }
    .search_filters > button:nth-child(2){
        margin-right: 5px;
    }
}