@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: auto;
}

main{
    margin: 0 50px;
}

a{
    text-decoration: none;
    color: black;   
}

#header a:hover, #footer a:hover, #login, .search_filters i{
    color: #0065FC;
}

ul{
    list-style-type: none;
}

#login, h2, h4, .recherche button, .search_input input, #filtres, .afficher_plus{
    font-weight: bold;
}

h2,h4, .search_input button:hover, .icones_filtres{
    font-size: 1.25em;
}

#hebergements h2, #activites h2{
    margin-bottom: 25px;
}
#hebergements .populaires>h2{
    margin-bottom: 10px;
}

button, .afficher_plus{
    cursor: pointer;
}

/* HEADER - FOOTER */

#header, #footer{
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#header, #header li, #header p{
    height: 100px;
}

#logo{
    margin:40px 0 0 50px;
}

#nav_log, #nav, #nav>ul{
    display: flex;
}

#nav_log{
    margin-right: 40px;
}

#nav{
    align-items: center;
}

#nav>ul>li, #nav_log p{
    margin: 0 10px;
    text-align: center;
}

#nav>ul>li:nth-child(1){
    width: 130px;
}
#nav>ul>li:nth-child(2){
    width: 110px;
}
#nav_log p{
    width: 90px;
}

#nav a::before, #header p::before {
    display: block;
    content: '';
    margin-bottom: 40px;
    border-top: solid 3px #0065FC;
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

#nav a:hover::before, #header p:hover::before{ 
    transform: scaleX(1); 
}

/* Research section */

#recherche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

h2{
    margin-bottom: 15px;
}

.search_input{
    display: flex;
    padding-bottom: 10px;
}

.search_input input, input[type="search"]{
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

.search_input i, .search_input input, .search_input button{
    border: 1px solid #F2F2F2;
}
.search_input i{
    background-color: #F2F2F2;
    padding: 16px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.search_input input, .recherche button{
    font-size: 1.1em;
}

.search_input input{
    padding-left: 5px;
    height: 50px;
    width: 220px;
}

.search_input button{
    background-color: #0065FC;
    color: #FFF;
    height: 50px;
    width: 130px;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px; 
    transition: all 0.5s;
}

.search_input i.loupe{
    display: none;
}

.search_filters button{
    margin: 0 15px;
    padding: 0 25px 0 0;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid rgb(213, 213, 213);
    transition: all 0.5s;
}

.icones_filtres{
    position: relative;
    left: -3px;
    margin-right: 10px;
    padding: 12px;
    border-radius: 50%;
    background-color: rgb(224, 235, 253);
    transition: all 0.3s;
}

.search_filters button:hover{
    color: white;
    background-color: #0065FC;
    border-color: #0065FC;
}

.search_filters button:hover .icones_filtres{
    background-color: white;
    left: 2px;
    padding: 8px;
}

.search_filters i{
    transition: all 0.2s;
}

.search_filters button:hover .icones_filtres>i{
    transform: rotate(360deg);
}

.search_info i{
    color: #0065FC;
    padding: 3px 7px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
}

/* Section hébergements */

#hebergements{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.afficher_plus{
    margin-top: 51px;
}

#hebergements>div:nth-child(1){
    flex: 2.5;
    margin-right: 25px;
}

#hebergements>div:nth-child(2){
    flex: 1;
    margin-left: 25px;
}

.hebergements{
    background-color: #F2F2F2;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 1em;
}

.hebergements a{
    display: block;
}

.H_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: center;
    gap: 30px;
}

.no_gap{
    gap: 0;
}

.fa-chart-line{
    padding-left: 110px;
}

.populaires .H_container{
    grid-template-columns: 1fr;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-radius: 1.25em;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
    transition: all 0.5s;
}

.cards:hover{
    box-shadow: 0 0 10px rgba(66, 66, 66, 1);
    transform: scale(1.07);
}

.populaires .cards{
    flex-direction: row;
    margin: 20px 0;
    width: 330px;
    height: 145px;
}

.cards>div:nth-child(1){
    background-size: cover;
    background-position: 50% 75%;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    border: 5px solid #fff;
    height: 70%;
}

.populaires .cards>div:nth-child(1){
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 1.25em;
    border-top-right-radius: 0;
}

.name_price_stars{
    position: relative;
    background-color: white;
    padding-left: 10px;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    border: 5px solid #fff;
    flex: 1;
}

.populaires .name_price_stars{
    padding-top: 5px;
    border-top-right-radius: 1.25em;
    border-bottom-left-radius: 0;
}

.populaires .stars{
    position: absolute;
    bottom: 5px;
}

.name_price_stars h4{
    font-size: 1em;
}

.name_price_stars p{
    font-size: 0.8em;
    padding: 3px 0;
}

.name_price_stars i{
    font-size: 0.7em;
    color: #0065FC;
    padding-bottom: 7px;
}

.name_price_stars i.gris{
    color: rgb(213, 213, 213);
}

.A_la_cannebiere{
    background: url(img/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.H_du_port{
    background: url(img/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.H_les_mouettes{
    background: url(img/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.H_de_la_mer{
    background: url(img/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.A_le_panier{
    background: url(img/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.H_chez_amina{
    background: url(img/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
/*****/
.H_soleil_matin{
    background: url(img/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.au_coeur_de_l_eau{
    background: url(img/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.H_bleu_et_blanc{
    background: url(img/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/* Activities section */
#activites, .activites{
    display: flex;
    flex-direction: column;
}
#activites{
    margin: 60px 0;
}

.activites{
    flex-wrap: wrap;
    justify-content: space-between;
    height: 445px;
}
.activites>a{
    width: 25%;
}
.activites>a>div{
    display: flex;
    align-items: flex-end;
    border-radius: 1em;
    margin: 0 19px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
    transition: all 0.5s;
}
.activites>a>div:hover{
    box-shadow: 0 0 10px rgba(66, 66, 66, 1);
    transform: scale(1.07);
}
.activites h4{
    background-color: #fff;
    padding: 15px 0 15px 10px;
    font-size: 1em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    width: 100%;
}

.vieux_port{
    background: url(img/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 445px;
}
.fort_de_pomegues{
    background: url(img/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    height: 240px;
}
.iles_de_frioul{
    background: url(img/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    height: 170px;
}
.parc_national{
    background: url(img/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 445px;
}
.notre_dame{
    background: url(img/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 195px;
}
.parc_longchamp{
    background: url(img/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    height: 210px;
}

/* Footer */
footer#footer{
    background-color: #F2F2F2;
    height: 215px;
}
#footer>div{
    padding-top: 40px;
    margin-left: 50px;
    width: 33%;
}
#footer li
{
    margin: 15px 0;
}

