@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: auto;
}

main{
    margin: 0 50px;
}

header a.block{
    display: block;
}

a{
    text-decoration: none;
    color: #000;   
}

#header a:hover, #footer a:hover, #nav a:active, #nav a:active, #login, .search_filters i{
    color: #0065FC;
}

ul{
    list-style-type: none;
}

#login, h2, h4, .recherche button, .search_input input, #filtres, .afficher_plus{
    font-weight: bold;
}

h2,h4, .search_input button:hover, .icones_filtres{
    font-size: 1.25em;
}

#hebergements h2, #activites h2{
    margin-bottom: 25px;
}
h2{
    margin-bottom: 10px;
}

button, .afficher_plus{
    cursor: pointer;
}

/* HEADER - FOOTER */

#header, #footer{
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#header, #header li, #header p{
    height: 100px;
}

#logo{
    margin:40px 0 0 50px;
}

#nav_log, #nav, #nav>ul{
    display: flex;
}

#nav_log{
    margin-right: 40px;
}

#nav{
    align-items: center;
}

#nav>ul>li, #nav_log p{
    margin: 0 10px;
    text-align: center;
}

#nav>ul>li:nth-child(1){ width: 130px;} /* Hébergements */
#nav>ul>li:nth-child(2){ width: 110px; } /* Activités */
#nav_log p{ width: 90px;} /* S'inscrire */

#nav a::before, #nav_log p::before {
    display: block;
    content: '';
    margin-bottom: 40px;
    border-top: solid 3px #0065FC;
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}
#nav a:hover::before, #nav_log p:hover::before{ 
    transform: scaleX(1); 
}

/* Research section */

#recherche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
}

.search_input{
    display: flex;
    padding-bottom: 10px;
}

.search_input input, input[type="search"]{
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

.search_input i, .search_input input, .search_input button{
    border: 1px solid #F2F2F2;
}
.search_input i{
    background-color: #F2F2F2;
    padding: 16px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.search_input input, .recherche button{
    font-size: 1.1em;
}

.search_input input{
    padding-left: 5px;
    height: 50px;
    width: 220px;
}

.search_input button{
    background-color: #0065FC;
    color: #FFF;
    height: 50px;
    width: 130px;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px; 
    transition: all 0.5s;
}

.search_input i.loupe{
    display: none;
}

.search_filters button{
    margin: 0 15px;
    padding: 0 25px 0 0;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid rgb(213, 213, 213);
    transition: all 0.5s;
}

.icones_filtres{
    position: relative;
    left: -3px;
    margin-right: 10px;
    padding: 12px;
    border-radius: 50%;
    /* background-color: rgb(224, 235, 253); */
    background-color: #E0EBFD;
    transition: all 0.3s;
}

.search_filters button:hover{
    color: #fff;
    background-color: #0065FC;
    border-color: #0065FC;
}

.search_filters button:hover .icones_filtres{
    background-color: #fff;
    left: 2px;
    padding: 8px;
}

.search_filters i{
    transition: all 0.2s;
}

.search_filters button:hover .icones_filtres>i{
    transform: rotate(360deg);
}

.search_info i{
    color: #0065FC;
    padding: 3px 7px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
}

/* Section hébergements */

#hebergements{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#hebergements>div:nth-child(1){
    flex: 2.5;
    margin-right: 25px;
}
#hebergements>div:nth-child(2){
    flex: 1;
    margin-left: 25px;
}

.hebergements{
    background-color: #F2F2F2;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 1.5rem;
}

.afficher_plus{
    margin-top: 51px;
}

.H_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: center;
    gap: 30px;
}
.no_gap{
    gap: 0;
}

.fa-chart-line{
    padding-left: 110px;
}

.populaires .HP_container{
    grid-template-columns: 1fr;
}

.cards{
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 1.25em;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
    transition: all 0.5s;
}
.cards:hover{
    box-shadow: 0 0 10px rgba(66, 66, 66, 1);
    transform: scale(1.07);
}

/* .populaires  */
.cards_populaires{
    flex-direction: row;
    margin: 20px 0;
    width: 330px;
    height: 145px;
}

.cards>img{
    object-fit: cover;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    border: 5px solid #fff;
    height: 65%;
}

.cards_populaires>img{
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 1.25em;
    border-top-right-radius: 0;
}

.name_price_stars{
    position: relative;
    background-color: #fff;
    padding-left: 10px;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    border: 5px solid #fff;
    flex: 1;
}
.populaires .name_price_stars{
    padding-top: 5px;
    border-top-right-radius: 1.25em;
    border-bottom-left-radius: 0;
}
.populaires .stars{
    position: absolute;
    bottom: 5px;
}

.name_price_stars h4{
    font-size: 1em;
}
.name_price_stars p{
    font-size: 0.8em;
    padding: 3px 0;
}
.name_price_stars i{
    font-size: 0.7em;
    color: #0065FC;
    padding-bottom: 7px;
}
.name_price_stars i.gris{
    color: #D5D5D5;
}

/* Activities section */
#activites, .activites{
    display: flex;
    flex-direction: column;
}
#activites{
    margin: 60px 0;
}

.activites{
    flex-wrap: wrap;
    justify-content: space-between;
    height: 445px;
}

.activites>a{
    width: 22%;
    position: relative;
    transition: all 0.5s;
}
.activites img{
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    margin: auto;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
}



.activites h4{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 15px 0 15px 10px;
    font-size: 1em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    width: 100%;
    transition: all 0.5s;
}

.activites a:hover {
    transform: scale(1.07);
}

.vieux_port{
    height: 445px;
}
.fort_de_pomegues{
    height: 240px;
}
.iles_de_frioul{
    height: 170px;
}
.parc_national{
    height: 445px;
}
.notre_dame{
    height: 195px;
}
.parc_longchamp{
    height: 210px;
}

/* Footer */
footer#footer{
    background-color: #F2F2F2;
    min-height: 215px;
}
#footer>div{
    padding-top: 40px;
    margin-left: 50px;
    width: 33%;
}
#footer li
{
    margin: 15px 0;
}

